@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    background-image: url('/assets/index/Background.png');
}

button {
    border: none;
}

a {
    font-size: 30px;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 0px 5vw;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.05);
}

#nav-left:hover,
#nav-right:hover {
    cursor: pointer;
}

#nav-elem {
    width: auto;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #00A8FF;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin: 0px 10px;
}

#nav-elem:hover {
    background: #00A8FF;
    color: white;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

i {
    font-family: Ubuntu;
    padding: 10px;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}


#boxes {
    width: 70%;

}

.box {
    justify-content: space-around;

    display: flex;
    border-radius: 10px;
    background: #8DE4FF;
    padding: 50px;
    margin: 10px;
}

#date {
    width: 20%;
    border-radius: 10px;

}

#info {
    border-radius: 10px;
    width: 80%;
}


input[type="submit"]:hover {
    opacity: 0.9;
    cursor: pointer;
}

input[type="submit"] {
    width: 118px;
    height: 42px;
    margin-top: 5 px;
    border: none;
    background: #FF90C6;
    border-radius: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}   